<!DOCTYPE html>
<!--xmlns를 지정하면 해당 명령이 목록으로 출력-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout::head('문제 목록')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!--사이드바-->
            <th:block th:replace="~{fragments/layout::sidebar('question')}"></th:block>
            <main class="col-10 main-content">
                <div class="page-header d-flex justify-content-between align-items-center">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-1">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/questions}">문제관리</a></li>
                                <li class="breadcrumb-item">
                                    <a th:href="@{/questions/subject/{id}(id=${chapter.subjectId})}" th:text="${chapter.subjectName}"></a></li>
                                <li class="breadcrumb-item active" th:href="${chapter.title}"></li>
                            </ol>
                        </nav>
                        <h2>
                            <span class="badge bg-secondary me-1" th:text="'CH'+${chapter.chapterNo}"></span>
                            <span th:text="${chapter.title}"></span>
                        </h2>
                    </div>
                    <a class="btn btn-primary" th:href="@{/questions/new/{id}(id=${chapter.id})}">
                        <i class="bi bi-plus-circle"></i> 문제등록
                    </a>
                </div>
                <div class="card">

                </div>

            </main>
        </div>
    </div>

  <div th:replace="~{fragments/layout::scripts}"></div>
</body>
</html>