<!DOCTYPE html>
<!--xmlns를 지정하면 해당 명령이 목록으로 출력-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout::head('챕터 수정')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!--사이드바-->
      <th:block th:replace="~{fragments/layout::sidebar('subject')}"></th:block>
      <main class="col-10 main-content">
        <div class="page-header"> <!--페이지 머리말-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/subjects}">과목관리</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}">교과목명</a>
              </li>
              <li class="breadcrumb-item active">
                 챕터 수정
              </li>
            </ol>
          </nav>
          <h2><i class="bi bi-pencil text-warning"></i> 챕터 수정</h2>
        </div>
        <div class="card" style="max-width:600px;"> <!--수정폼-->
          <div class="card-header">
              챕터 정보 수정
          </div>
          <div class="card-body">
            <form th:action="@{/subjects/{sid}/chapters/edit/{cid}(sid=${subject.id}, cid=${chapter.id})}" method="post">
              <div class="mb-3"><!--챕터 번호-->
                <label class="form-lable fw-bold">챕터 번호<span>*</span></label>
                <input class="form-control" type="number" name="chapterNo" th:value="${chapter.chapterNo}" min="1" required>
              </div>
              <div class="mb-3"><!--챕터명-->
                <label class="form-label fw-bold">챕터명<span>*</span></label>
                <input class="form-control" type="text" name="title" th:value="${chapter.title}" required>
              </div>
              <div class="mb-3"><!--설명-->
                <label class="form-label fw-bold">설명</label>
                <textarea class="form-control" name="description" rows="3" th:text="${chapter.description}"></textarea>
              </div>
              <div class="d-flex gap-2"><!--버튼-->
                <button class="btn btn-warning" type="submit"><i class="bi bi-save"></i> 수정</button>
                <a class="btn btn-secondary" th:href="@{/subjects/{id}(id=${subject.id})}">취소</a>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div th:replace="~{fragments/layout::scripts}"></div>
</body>
</html>